{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <form action="/login" method="post">
            {% if error %}
            {{ error }}
            <br>
            <br>
            {% endif %}
        <div class="form-group">
            <label>아이디</label><br>
            <input type="text" id="usr_id" name="usr_id" value="{{request.form.usr_id}}">

        </div>
        <div class="form-group">
            <label>비밀번호</label><br>
            <input type="password" id="usr_pw" name="usr_pw">
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>

{% endblock %}