{% extends 'base.html' %}
{% block content %}
<div class="mypage-container">
    <div class="mypage-column">
        <div class="mypage-group">
            <form action="http://{{1|admin}}:5000/upload_prof_img" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{info[0][0]}}">
                <input type="hidden" name="url" value="{{request.url|safe}}">
            <div class="mypage-header">프로필</div>
            <div class="mypage-content">
                {% if not info[0][4] %}
                    <img src="{{ url_for('static', filename='image/user_icon.png') }}" width="120" height="120">
                {% else %}
                    <img src="http://{{1|admin}}:5000/static/{{info[0][4]}}" width="120" height="120">
                {% endif %}
                <dt class="content-info">닉네임 </dt>
                <dd class="content-value">{{info[0][3]}}</dd>
                <dt class="content-info">이메일 </dt>
                <dd class="content-value">{{info[0][2]}}</dd>
                <input type="file" onchange="form.submit()" class="prof_img_btn" name="prof_img">
            </div>
            <div class="mypage-bottom">
                <a href="/member_modify">회원수정</a>&nbsp|&nbsp
                <a href="/member_delete">탈퇴</a>
            </div>
            </form>
        </div>
        <div class="mypage-group">
            <div class="mypage-header">내가 쓴 최신글</div>
            {% for r in result %}
            <a href="{{url_for('.mypage_get', idx=r[0], caption=r[3])}}">-{{r[1]}}</a><p> | {{r[3]}} &nbsp {{r[2]}} </p>
            {% endfor %}
        </div>
    </div>

    <div class="mypage-column">
        <div class="mypage-group">
            <div class="mypage-header">뭔가 들어갈 뭔가</div>
        </div>
        <div class="mypage-group">
            <div class="mypage-header">내가 쓴 댓글</div>
            {% for re in reviews %}
            <a href="{{url_for('.mypage_get', idx=re[6], caption=re[0])}}">-{{re[4]}}</a><p> | {{re[0]}} &nbsp {{re[5]}} </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}