{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <form method="POST" action="/board_dev_modify?idx={{result[0][1]}}&page={{page}}">
        제목<br>
        <input type="text" value="{{result[0][2]}}" name="bd_title" style="width:40%;" maxlength="30" placeholder="제목 30글자 이내"><br>
        작성자<br>
        <input type="text" value="{{result[0][5]}}" name="bd_author" readonly><br>
        내용<br>
        <textarea id="summernote" name="bd_content">{{result[0][4]}}</textarea><br>
        <!-- <input type="file" name="file"><br><br> -->
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            focus: true,
            callbacks: {
                onImageUpload(files)  {
                  sendFile('http://{{config}}:5000/imageDown',files[0],data => {})
                  setTimeout(sendFile('/addImgSummer',files[0],data => {
                    let imgNode = document.createElement("img");
                    imgNode.setAttribute('src', data.url)
                    $(this).summernote('insertNode', imgNode);}),2000)
                }
              }
            });
        });
                   var sendFile = function(url,file, callback) {
                    var data;
                    data = new FormData();
                    data.append("file", file);
                    return $.ajax({
                      url: url,
                      data: data,
                      cache: false,
                      contentType: false,
                      processData: false,
                      type: 'POST',
                      success: function(data) {
                        return callback(data);
                      }
                    });
                  };
</script>
{% endblock %}