.navbar-nav .nav-item.active .nav-link{
    font-weight:bold;
    background-color:#eeeeee;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none; user-select:none
}
.card-body {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

/* 네비게이션 바의 li */
.navbar-nav .nav-item{
    height:75px;
    line-height:60px;
}

/* 네비게이션 바의 li 밑의 a */
.navbar-nav .nav-item .nav-link{
    font-size:14pt;
}

.navbar-nav .nav-item .nav-link.log{
    font-size:12pt;
}

tbody {
    cursor:pointer;
}

.review-date{
    font-size:10pt;
    color:grey;
}