.bottomMenu{
    background-color:#434343;
    text-align: center;
    height:40px;
}

/* bottomMenu hover 설정. 밑줄 없앰 - 정연 */
.bottomMenu a:hover{
    color:#ffffff;
    text-decoration:none;
}

.dot{
    background-color:#434343;
    color:#cccccc;
    font-size:18pt;
    cursor:pointer;
    margin-left:10px;
    margin-right:10px;
}

.indicator{
    background-color:#434343;
    color:#cccccc;
    font-size:18pt;
    cursor:pointer;
    margin-left:30px;
    margin-right:30px;
}

.separator{
    background-color:#434343;
    color:#cccccc;
    font-size:18pt;
    margin-left:1px;
    margin-right:1px;
}

ul li{
    list-style-type: none;
}


.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }

.filebox label { display: inline-block; padding: .5em .75em; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } /* named upload */

.filebox .upload-name { display: inline-block; padding: .5em .75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

