{% extends 'base.html' %}
{% block content %}


<div class="container my-3">
    <form method="POST"
    enctype = "multipart/form-data">
        제목<br>
        <input type="text" name="bf_title"><br>
        내용<br>
        <textarea id="summernote" name="bf_content"></textarea>
        <!-- <input type="file" name="file"><br><br> -->
        <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
</div>
{% endblock %}

{% block script %}

<script>

$(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            focus: true,
            callbacks: {
                onImageUpload(files) {
                  sendFile('http://{{config}}:5000/imageDown',files[0],data => {})
                  sendFile('/addImgSummer',files[0],data => {
                    let imgNode = document.createElement("img");
                    imgNode.setAttribute('src', data.url)
                    $(this).summernote('insertNode', imgNode);})
                }
              }
            });
        });
                   var sendFile = function(url,file, callback) {
                    var data;
                    data = new FormData();
                    data.append("file", file);
                    return $.ajax({
                      url: url,
                      data: data,
                      cache: false,
                      contentType: false,
                      processData: false,
                      type: 'POST',
                      success: function(data) {
                        return callback(data);
                      }
                    });
                  };


</script>

{% endblock %}
