{%with messages = get_flashed_messages()%}
  {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% extends 'base.html' %}
{% block content %}


<div class="container my-3">
    <form action="/join" method="post">
        <div class="form-group">
            <label>아이디</label><br>
            <input type="text" id="usr_id" name="usr_id" value="{{request.form.usr_id}}">
        </div>
        <div class="form-group">
            <label>비밀번호</label><br>
            <input type="password" id="usr_pw" name="usr_pw">
            {% if error %}
            &nbsp {{ error }}
            {% endif %}
        </div>
        <div class="form-group">
            <label>비밀번호 확인</label><br>
            <input type="password" id="usr_pw_com" name="usr_pw_com">

        </div>
        <div class="form-group">
            <label>닉네임</label><br>
            <input type="text" id="usr_nick" name="usr_nick" value="{{request.form.usr_nick}}">
        </div>
        <div class="form-group">
            <label>이메일</label><br>
            <input type="text" id="usr_email" name="usr_email" value="{{request.form.usr_email}}">
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
</div>
{% endblock %}