{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/rockcut.js') }}"></script>
<div  style="overflow:auto; width:1100px; height:500px; background-color:#000000;">
    <br>
    <br>
    <br>
    <b style="color:white">성공 확률</b><a style="color: yellow;background-color:#000000;" id="percentage"> 75</a><b style="color: yellow;background-color:#000000;" >%</b>
    <br>
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="1" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="2" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="3" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="4"style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="5" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="6" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="7" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="8" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="9" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="10" style="height:auto;max-width: 100%; position: static;">
    &nbsp
    &nbsp
    &nbsp
    <button type="button" style="position: static; outline: none; box-shadow: none; background-color:#000000; border:none;"
            id="clicker" name="save" onclick="clicker()"> <img src="{{ url_for('static', filename='image/돌버튼.PNG') }}" /></button>
    <br>
    <br>
        <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="101">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="102">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="103">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="104">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="105">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="106">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="107">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="108">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="109">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="110">
    &nbsp
    &nbsp
    &nbsp
    <button type="button" style="outline: none; box-shadow: none; background-color:#000000; border:none;"
            id="clicker1" name="save" onclick="clicker2()"> <img src="{{ url_for('static', filename='image/돌버튼.PNG') }}" /></button>
    <br>
 </div>

<script>
</script>

{% endblock %}

