<footer id="ftr">
  <div class="notice_box">
    <a><img src="{{ url_for('static', filename='image/logo_smilegate.png') }}" alt="footer_logo"></a>
  </div>
  <div class="aside_box">
    <div class="area_user">
      <div class="area_user_row">
        <span class="text_bold-13">웹 참고 사이트</span>
        <ul>
          <li><a href="/https://www.w3.org/">W3C - World Wide Web Consortium</a></li>
          <li><a href="/https://www.flaticon.com/">flaticon - 무료 픽토그램 사이트</a></li>
        </ul>
      </div>
    </div>
    <div class="area_col">
    </div>
    <div class="area_col">
    </div>
  </div>
  <div class="bottom_box">
    <ul>
      <li>&copy; Python Research Raboratory All Rights Reserved.</li>
      <li><a href="https://lostark.game.onstove.com/Main">LostArk</a></li>
    </ul>
  </div>
</footer>