<footer id="ftr">
  <div class="notice_box">
    <a><img src="{{ url_for('static', filename='image/logo_smilegate.png') }}" alt="footer_logo"></a>
    <a><img src="{{ url_for('static', filename='image/spotify_logo.png') }}" alt="footer_logo"></a>
    <a><img src="{{ url_for('static', filename='image/python_logo.png') }}" alt="footer_logo"></a>
    <a><img src="{{ url_for('static', filename='image/apple_logo.png') }}" alt="footer_logo"></a>
  </div>
  <div class="aside_box">
    <div class="area_user">
      <div class="area_user_row">
        <span class="text_bold-13">웹 참고 사이트</span>
        <ul>
          <li><a href="https://www.naver.com/">네이버 개발자센터</a></li>
          <li><a href="/">오픈API</a></li>
          <li><a href="/">오픈소스</a></li>
          <li><a href="/">네이버 D2</a></li>
          <li><a href="/">네이버 D2SF</a></li>
          <li><a href="/">네이버 랩스</a></li>
        </ul>
      </div>
    </div>
    <div class="area_col">
    </div>
    <div class="area_col">
    </div>
  </div>
  <div class="bottom_box">
    <ul>
      <li>&copy; Python Research Raboratory All Rights Reserved.</li>
      <li><a href="https://lostark.game.onstove.com/Main">LostArk</a></li>
    </ul>
  </div>
</footer>