{% extends 'base.html' %}
{% block content %}
<div class="slides-content" style="max-width:100%; position:relative; min-width:1000px;">

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/randscape5120.jpg') }}">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/cyberpunk.jpeg') }}">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/cyberRamen.jpeg') }}">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/floodcloud5120.jpg') }}">
  </div>

  <div class="bottomMenu" style="width:100%;">
    <ul>
      <li>
        <a class="indicator" onclick="plusSlides(-1)">❮</a>
        <a class="dot" onclick="currentSlides(1)">1</a>
        <!--<span class="separator">|</span>-->
        <a class="dot" onclick="currentSlides(2)">2</a>
        <!--<span class="separator">|</span>-->
        <a class="dot" onclick="currentSlides(3)">3</a>
        <!--<span class="separator">|</span>-->
        <a class="dot" onclick="currentSlides(4)">4</a>
        <a class="indicator" onclick="plusSlides(1)">❯</a>
      </li>
    </ul>
  </div>
</div>

<br>

<div style="width:100%; height:500px;">
    <div style="width: 40%; float: left; padding: 5px; height:400px; padding-top:5px;">
      <label class="boardAll-logo">게시판 최신글</label>
      <table class="table table-hover" style="line-height:normal;">
        <tbody class="custom">
        {% for r in result %}
        <tr>
            <td onClick="location.href='{{url_for('.main_get', idx=r[0], caption=r[3])}}'" style="width:20%;">{{r[3]}}</td>
            <td onClick="location.href='{{url_for('.main_get', idx=r[0], caption=r[3])}}'" style="width:80%;">{{r[1]}}
            {% if 1440 >= r[2]|datetime >= 1439  or  r[2]|datetime < 360 %}
                <i><img src="{{ url_for('static', filename='image/new_sample1.PNG') }}" style="max-width:10px; max-height:10px;position:relative; top:-2px;"></i>
            {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
      </table>

    </div>

    <div style="width: 60%; float: left; height:400px; padding: 5px; padding-top:5px;">
      <a href="https://lostark.game.onstove.com/Main">
        <img src="{{ url_for('static', filename='image/로스트아크배너.PNG') }}" style="width:100%; height:280px;">
      </a>
    </div>
</div>

<div class="weather-container">
    <div class="weather-content">
        <label class="weather-logo">WeatherCast</label>
    </div>

    {% if tmp[0] %}

        <div class="weather-content middle" style="min-height:120px;">

            <div class="weather-group"><span class="temperature-logo">{{tmp[5]}}°</span></div>

            <div class="weather-group middle">
                {% if sky[5] == '비' %}
                    <img src="static/image/rain_icon.png" alt="날씨아이콘">
                {% endif %}
                {% if sky[5] == '눈' %}
                    <img src="static/image/snowfall_icon.png" alt="날씨아이콘">
                {% endif %}
                {% if sky[5] == '구름많음' %}
                    <img src="static/image/cloud-sun_icon.png" alt="날씨아이콘">
                {% endif %}
                {% if sky[5] == '맑음' %}
                    <img src="static/image/sunny_icon.png" alt="날씨아이콘">
                {% endif %}
                {% if sky[5] == '흐림' %}
                    <img src="static/image/cloud_icon.png" alt="날씨아이콘">
                {% endif %}
            </div>
        </div>

        <div class="weather-content middle">
            {% for r in today %}
                {% if r[2] == 'TMP' %}
                <div class="weather-group">오늘&nbsp&nbsp 최저 : {{r[5]}}°&nbsp&nbsp&nbsp</div>
                {% else %}
                    {% if r[2] == 'TMX' %}
                    <div class="weather-group">최고 : {{r[5]}}°</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="weather-content middle">
            {% for r in tomorrow %}
                {% if r[2] == 'TMN' %}
                <div class="weather-group">내일&nbsp&nbsp 최저 : {{r[5]}}°&nbsp&nbsp&nbsp</div>
                {% else %}
                    {% if r[2] == 'TMX' %}
                    <div class="weather-group">최고 : {{r[5]}}°</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <label class="weather-error">날씨 데이터를 불러오지 못했습니다.</label>
    {% endif %}

</div>
{% endblock %}