{% extends 'base.html' %}
{% block content %}

<div class="slides-content" style="max-width:100%; position:relative; min-width:1000px;">

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/randscape5120.jpg') }}" style="width:100%">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/cyberpunk.jpeg') }}" style="width:100%">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/cyberRamen.jpeg') }}" style="width:100%">
  </div>

  <div class="bottomMenu" style="width:100%;">
    <ul>
      <li>
        <a class="indicator" onclick="plusDivs(-1)">❮</a>
        <a class="dot" onclick="currentDiv(1)">첫번째배너</a>
        <span class="separator">|</span>
        <a class="dot" onclick="currentDiv(2)">두번째배너</a>
        <span class="separator">|</span>
        <a class="dot" onclick="currentDiv(3)">세번째배너</a>
        <a class="indicator" onclick="plusDivs(1)">❯</a>
      </li>
    </ul>
  </div>
</div>

<div style="margin-top:10px;">
    <div style="width: 40%; float: left; padding:5px; cursor:move;">
      <table class="table table-hover">
        <thead>
        <tr class="thead-dark">
            <th>게시판</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        {% for r in result %}
        <tr>
            <td onClick="location.href='{{url_for('.main_get', idx=r[0],page=page)}}'">자유게시판</td>
            <td onClick="location.href='{{url_for('.main_get', idx=r[0],page=page)}}'">{{r[1]}}</td>
            <td onClick="location.href='{{url_for('.main_get', idx=r[0],page=page)}}'">{{r[2]}}</td>
        </tr>
        {% endfor %}

        </tbody>
      </table>

    </div>

    <div style="border: 1px solid blue; width: 60%; float: left; height: 150px">
      <a href="https://lostark.game.onstove.com/Main">
        <img src="{{ url_for('static', filename='image/로스트아크배너.PNG') }}" style="width:100%">
      </a>
    </div>
</div>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

{% endblock %}