{% extends 'base.html' %}
{% block content %}

<div class="slides-content" style="max-width:100%; position:relative;">

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/randscape5120.jpg') }}" style="width:100%">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/cyberpunk.jpeg') }}" style="width:100%">
  </div>

  <div class="display-container mySlides">
    <img src="{{ url_for('static', filename='image/cyberRamen.jpeg') }}" style="width:100%">
  </div>

  <div class="bottomMenu">
    <ul>
      <li>
        <a class="indicator" onclick="plusDivs(-1)">❮</a>
        <a class="dot" onclick="currentDiv(1)">1</a>
        <a class="dot" onclick="currentDiv(2)">2</a>
        <a class="dot" onclick="currentDiv(3)">3</a>
        <a class="indicator" onclick="plusDivs(1)">❯</a>
      </li>
    </ul>
  </div>

  <div style="margin-top:10px;">
    <div style="width: 40%; float: left; padding:5px; cursor:move;">
      <table class="table table-hover">
        <thead>
        <tr class="thead-dark"> <!-- thead에 색 입히는 코드 수정 - 정연 -->
            <th>넘버</th>
            <th>게시판</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
      </table>
    </div>

    <div style="border: 1px solid blue; width: 60%; float: left;">
      <br><br><br><br><br><br>
    </div>
  </div>

</div>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

{% endblock %}