<ul>
    {% for r in reviewpage[2] %}
    <li>
        <div style="width:100%;">
            <b>{{r[0]}}</b><br>
            <span>&nbsp&nbsp&nbsp{{r[3]}}</span><br>
            <span class="review-date">{{r[4]}}</span>
            <br>
            {% if 1440 >= r[4]|datetime >= 1439  or  r[4]|datetime < 360 %}
            <c class="float-right" id="new" style="top:-53px; left:10px; position:relative; color:orange;"><img src="{{ url_for('static', filename='image/new_sample2.PNG') }}" style="max-width:10px; max-height:20px;position:relative; left:-10px"></c>
            {% endif %}
            {% if session.get('id') == r[2] %}
            <i class="fas fa-times float-right"
               style="color:red; cursor:pointer; position:relative; left:12px;"
               onclick="review_del({{r[1]}})"></i>
            {% endif %}
            <ul>
                <li class="menu">
                    {% set ref = r[1]|ref_rev %}
                    <review class="ref_button">답글&nbsp<string style="font-weight:bold;">{{ref[1]}}</string></review>
                    <ul class="hide" style="margin-left:25px; width:95%;">
                        <br>
                        <li>
                            {% for ref in ref[0] %}
                            <div>
                                <b>{{ref[0]}}</b><br>
                                <span>&nbsp&nbsp&nbsp{{ref[3]}}</span><br>
                                <span class="review-date">{{ref[4]}}</span>
                                {% if session.get('id') == r[2] %}
                                    <i class="fas fa-times float-right"
                                    style="color:red; cursor:pointer; position:relative; left:12px;"
                                    onclick="review_del({{ref[1]}})">
                                    </i>
                                {% endif %}
                                <hr>
                            </div>
                            {% endfor %}
                            <form method="post" action="/review_write?idx={{result[0][1]}}&page={{page}}&reviewpage={{reviewpage[4]}}">
                                <div style="padding:5px; width:100%; height:90px; background-color:#ffefef;">
                                    <textarea name="review_content" style="width:50%; margin-bottom:10px; resize:none; height:100%; vertical-align:middle;"></textarea>
                                    <button class="btn btn-primary" type="submit" style="width:80px; height:60%; margin-top:20px; margin-right:20px; vertical-align:middle; position:relative; top:-15px;">작성</button>
                                </div>
                                <input name="kind" type="hidden" value="{{result[0][8]}}">
                                <input name="ref_review" type="hidden" value="{{r[1]}}">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <hr>
    {% endfor %}
</ul>

<div class="text-center">
        <ul class="pagination pagination-sm my" style="justify-content: center">
        {% if reviewpage[7] - 1 > 0 %}
            <li class="page-item"><a class="page-link" href="{{url_for(kind,idx=idx ,page=1,reviewpage=reviewpage[7] - 1)}}">< 뒤로</a></li>
        {% endif %}

        {% for i in range(reviewpage[7], reviewpage[8] + 1)%}
        <!-- 데이터가 존재하지 않는 페이지는 화면에 나타내지 않기 위한 조건문 -->
            {% if i > reviewpage[4] %}

            {% else %}
                {% if i == reviewpage[0] %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{url_for(kind,idx=idx,page=page,reviewpage=i)}}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if reviewpage[8] < reviewpage[4] %}
            <li class="page-item"><a class="page-link" href="{{url_for(kind,idx=idx,page=page,reviewpage=reviewpage[8] + 1)}}">다음 ></a></li>
        {% endif %}
        </ul>
    <br>
    </div>

<form method="post" action="/review_write?idx={{result[0][1]}}&page={{page}}&reviewpage={{reviewpage[4]}}">
    <div style="padding:5px; width:100%; height:90px; background-color:#ffefef;">
        <textarea name="review_content" style="width:50%; margin-bottom:10px; resize:none; height:100%; vertical-align:middle;"></textarea>
        <button class="btn btn-primary" type="submit" style="width:80px; height:60%; margin-top:20px; margin-right:20px; vertical-align:middle; position:relative; top:-15px;">작성</button>
    </div>
    <input name="kind" type="hidden" value="{{result[0][8]}}">
    <input name="ref_review" type="hidden" value="NULL">



</form>
<script type="text/javascript">

function review_del(data){
    if(confirm("정말로 삭제하시겠습니까?")) {
        location.href='/review_delete?rv_num=' + data + '&cur_url={{request.url|safe}}'
    }
}

</script>

<script>

// html dom 이 다 로딩된 후 실행된다.
$(document).ready(function(){
    // menu 클래스 바로 하위에 있는 a 태그를 클릭했을때
    $(".menu>review").click(function(){
        var submenu = $(this).next("ul");

        // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
        if( submenu.is(":visible") ){
            submenu.slideUp();
        }
        else{
            submenu.slideDown();
        }
    });
});

</script>

<style>
    .menu .hide{display:none;}
</style>