{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/rockcut.js') }}"></script>
<div style="overflow:auto; width:100%; height:500px; background-color:#000000;">
    <br>
    <br>
    <br>
    <b style="color:white">성공 확률</b><a style="color: yellow;background-color:#000000;" id="percentage"> 75</a><b style="color: yellow;background-color:#000000;" >%</b>
    <br>
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="1" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="2" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="3" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="4"style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="5" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="6" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="7" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="8" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="9" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="10" style="height:auto;max-width: 100%; position: static;">
    &nbsp
    &nbsp
    &nbsp
    <button type="button" style="position: static; outline: none; box-shadow: none; background-color:#000000; border:none;"
            id="clicker" name="save" onclick="clicker()"> <img src="{{ url_for('static', filename='image/돌버튼.PNG') }}" /></button>
    <a id="sus1" style="color:blue;"></a>
    <br>
    <br>
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="101">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="102">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="103">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="104">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="105">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="106">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="107">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="108">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="109">
    &nbsp
    <img src="{{ url_for('static', filename='image/안누름.PNG') }}" id="110">
    &nbsp
    &nbsp
    &nbsp
    <button type="button" style="outline: none; box-shadow: none; background-color:#000000; border:none;"
            id="clicker1" name="save" onclick="clicker2()"> <img src="{{ url_for('static', filename='image/돌버튼.PNG') }}" /></button>
    <a id="sus2" style="color:blue;"></a>
    <br>
    <br>
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="201" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="202" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="203" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="204"style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="205" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="206" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="207" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="208" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="209" style="height:auto;max-width: 100%;">
    &nbsp
    <img src="{{ url_for('static', filename='image/감소안누름.PNG') }}" id="210" style="height:auto;max-width: 100%; position: static;">
    &nbsp
    &nbsp
    &nbsp
    <button type="button" style="position: static; outline: none; box-shadow: none; background-color:#000000; border:none;"
            id="clicker3" name="save" onclick="clicker3()"> <img src="{{ url_for('static', filename='image/돌버튼.PNG') }}" /></button>
    <a id="sus3" style="color:blue;"></a>
    <br>
 </div>
<br>
<br>
<br>
<br>


<label class="login-logo" style="font-size:30px; margin-left:10px;">오늘의 한마디 운세!!</label><br>
<div style="margin-left:10px;">
    <form id="frm" method="POST" action="/fortune" enctype = "multipart/form-data">
        <div class="gender">
            <span class="man">
            <input type="radio" name="sex" id="sex_m" value="남" checked="checked" class="on">
            <label for="sex_m" class="rd on">남자</label>
            </span>
            <span class="woman">
            <input type="radio" name="sex" id="sex_f" value="여" class="off">
            <label for="sex_f" class="rd">여자</label>
            </span>
        </div>

        <div style="width:60%;">
            <input type="text" name="user_name" id="user_name" class="int" placeholder="이름" onfocus="this.placeholder = ''">

            <select name="birth_yyyy" id="birth_yyyy" class="sel" style="margin-left:10px;">
                {% for i in range(1980,2020) %}
                <option value="{{i}}" selected="selected">{{i}}년</option>
                {% endfor %}
            </select>
            <select name="birth_mm" id="birth_mm" class="sel" style="margin-left:10px;">
                {% for i in range(1,10) %}
                <option value="0{{i}}">{{i}}월</option>
                {% endfor %}
                {% for i in range(10,13) %}
                <option value="{{i}}">{{i}}월</option>
                {% endfor %}
            </select>
            <select name="birth_dd" id="birth_dd" class="sel" style="margin-left:10px;">
                {% for i in range(1,10) %}
                <option value="0{{i}}">{{i}}일</option>
                {% endfor %}
                {% for i in range(10,32) %}
                <option value="{{i}}">{{i}}일</option>
                {% endfor %}
            </select>
            <select name="birth_hh" id="birth_hh" class="sel" style="margin-left:10px;">
                            <option value="0" selected="selected">모름</option>
                            <option value="01">子 (23:30 ~ 01:29)</option>
                            <option value="02">丑 (01:30 ~ 03:29)</option>
                            <option value="04">寅 (03:30 ~ 05:29)</option>
                            <option value="06">卯 (05:30 ~ 07:29)</option>
                            <option value="08">辰 (07:30 ~ 09:29)</option>
                            <option value="10">巳 (09:30 ~ 11:29)</option>
                            <option value="12">午 (11:30 ~ 13:29)</option>
                            <option value="14">未 (13:30 ~ 15:29)</option>
                            <option value="16">申 (15:30 ~ 17:29)</option>
                            <option value="18">酉 (17:30 ~ 19:29)</option>
                            <option value="20">戌 (19:30 ~ 21:29)</option>
                            <option value="22">亥 (21:30 ~ 23:29)</option>
            </select>
            <select name="birth_solunar" id="birth_solunar" class="sel" style="margin-left:10px;">
                            <option value="S_C" selected="selected">양력</option>
                            <option value="L_C">음력(평달)</option>
                            <option value="L_L">음력(윤달)</option>
            </select>
            <button type="submit" class="login-button float-right" onclick="result_solo();"
                    style="width:140px; height:60px; position:relative; top:-15px;">결과보기</button>
        </div>
        <div>
            <input type="hidden" name="target_yyyy" id="target_yyyy" value="2016">
            <input type="hidden" name="yesdate" id="yesdate" value="2022-01-12">
            <input type="hidden" name="setDate" id="setDate" value="{{nowdate}}">
            <input type="hidden" name="tomdate" id="tomdate" value="2022-01-14">
        </div>
    </form>
</div>

<div style="margin-left:10px;">
    <label class="login-error join" style="font-size:20px; top:30px;">[ {{seq}} ]</label>
</div>







{% endblock %}

